.App {
  text-align: center;
  background-color: rgb(87, 148, 177);
  border: 1px solid rgb(87, 148, 177);
  box-shadow: 2px 2px 5px 2px #888888;
  color: white;
  border-radius: 8px;
  width: 50%;
  margin: 10% auto;
  padding: 5% 1%;
}
.bmi label{
  padding: 5px;
  margin: 5px;
}
.bmi input{
  border-radius: 5px;
  border: none;
  padding: 7px 9px;
  margin: 10px;
}
.bmi input:focus{
  border: none;
}

.bmi button{
  margin: auto;
  padding: 5px 15px;
  font-size: 13px;
}
.bmi .btn {
  width: 38%;
  margin: 0 0 0 38%;
  /* border: 1px solid black; */
  display: flex;
  justify-content: space-between;
}
.showres{
  margin: 8%;
  font-size: 18px;
  font-weight: 700;
}


