.App {
  text-align: center;
  background-color: rgb(87, 148, 177);
  border: 1px solid rgb(87, 148, 177);
  box-shadow: 2px 2px 5px 2px #888888;
  color: white;
  border-radius: 8px;
  width: 50%;
  margin: 10% auto;
  padding: 5% 1%;
}
.bmi table{
  width: 70%;
  margin: 10px auto;
}
.bmi input{
  border-radius: 5px;
  border: none;
  padding: 4px 5px;
  margin: 5px;
}

#period{
  width: 30%;
}
button{
  padding: 6px 15px;
  margin: 10px 8%;
}
.showres{
  width: 50%;
  margin: 8% auto;
  font-size: 18px;
  font-weight: 700;
}
.res td{
  font-weight: lighter;
  /* margin: 10px; */
  padding: 3px;
}

