.App {
  text-align: center;
  background-color: rgb(87, 148, 177);
  border: 1px solid rgb(87, 148, 177);
  box-shadow: 2px 2px 5px 2px #888888;
  color: white;
  border-radius: 8px;
  width: 50%;
  margin: 10% auto;
  padding: 5% 1%;
}
.App button{
  margin: 8px;
  padding: 5px 10px;
  font-size: 13px;
}

.bmi{
  background-color: rgb(87, 148, 177);
  color: white;
  text-align: center;
  border: 1px solid rgb(87, 148, 177);
  box-shadow: 2px 2px 5px 2px #888888;
  border-radius: 8px;
  width: 50%;
  margin: 10% auto;
  padding: 5% 1%;
}
.bmi label{
  padding: 5px;
  margin: 5px;
}
.bmi input{
  border-radius: 5px;
  border: none;
  padding: 4px 5px;
  margin: 10px;
}
.bmi input:focus{
  border: none;
}
.bmi input::placeholder{
  float: right;
}
.bmi button{
  margin: 8px 0 8px  32%;
  padding: 5px 10px;
  font-size: 13px;
}
.showres{
  margin: 8%;
  font-size: 18px;
  font-weight: 700;
}
